body {
  background: #FAFCFB;
}

.header {
  width: 334.5px;
  height: 53px;
  top: 81px;
  left: 20px;

  position: absolute;
  font-family: M PLUS 1;
  font-weight: Bold;
  font-size: 48px;
}

.air_quality_head {
  width: 143px;
  height: 38px;
  background: rgba(108, 99, 255, 1);
  top: 167px;
  left: 17px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  position: absolute;
  font-family: Manrope;
  color: white;
  font-weight: Bold;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
}

.air_quality {
  width: 358px;
  height: 108px;
  background: #FFFFFF;
  left: 17px;
  top: 197px;
  border: 10;
  position: absolute;
}

.mask {
  position: absolute;
  left: 14px;
  top: 19px;
}

.dust_value {
  top: 5px;
  left: 174px;
  position: absolute;
  font-family: Epilogue;
  font-weight: Bold;
  font-size: 20px;
}

.dust_descreption {
  top: 65px;
  left: 150px;
  position: absolute;
  font-family: M PLUS 1;
  font-weight: Bold;
  font-size: 14px;
}

.temp_head {
  width: 143px;
  height: 38px;
  background: rgba(108, 99, 255, 1);
  left: 22px;
  top: 317px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  position: absolute;
  font-family: Manrope;
  color: white;
  font-weight: Bold;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
}

.temp {
  width: 350px;
  height: 75px;
  background: #FFFFFF;
  left: 22px;
  top: 351px;
  border: 10;
  position: absolute;
}

.temp_img {
  position: absolute;
  left: 86.38px;
  top: 19.5px;
}


.wind {
  width: 170px;
  height: 90px;
  background: #FFFFFF;
  left: 20px;
  top: 450px;
  border: 10;
  position: absolute;
}

.value {
  top: 10x;
  font-family: Epilogue;
  font-weight: Bold;
  font-size: 20px;
  text-align: center;
}

.text {
  top: 56px;
  font-family: Epilogue;
  font-weight: Bold;
  font-size: 16px;
  color: rgba(108, 99, 255, 1);
  text-align: center;
}

.humidity {
  width: 170px;
  height: 90px;
  background: #FFFFFF;
  left: 200px;
  top: 450px;
  border: 10;
  position: absolute;
}

.dog {
  position: absolute;
  top: 574px;
}